
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    /* outline: 2px solid orange; */
}

body{
    font-family: "Inter", sans-serif;
    font-kerning: normal;
    letter-spacing: -0.8px;
}


html{
    scroll-behavior: smooth;
}

/* NAV SECTION */

.Desktop-Nav {
    display: flex;
    position:sticky;
    top: 0;
    height: 6vh;
    padding-left: 1rem; 
    padding-right: 1rem;
    justify-content: space-between;
}

.Logo-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Okx-Logo {
   display: flex;
   width: auto;
   height: 22px;
}

.Divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slash-divider{
    background: currentColor;
    transform: rotate(-90deg);
    color: rgb(70, 70, 70);
    width: 16px;
    height: 1px;
}

.Nav-Links li, .Nav-Login li, .Nav-Links a{
    color: white;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    font-weight: 300;
}

.Nav-Links li {
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.Link-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav-Links {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.spacer{
    width: 22rem;
}

/* SEARCH BAR */

.Search-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search-Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(34, 34, 34);
    border-radius: .4rem;
    font-size: 12px;
    padding: .6em;
}

input {
    border: none;
    background: none;
    color: white;
    font-size: 12px;
}

.fa-solid {
    color: rgb(120, 120, 120);
    background: none;
    margin-right:0.8em;
}

input:focus {
    outline:none;
    color: white;
    caret-color: #adff2f;
}

input::placeholder {
    color: rgb(70, 70, 70);
}

.Login-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGINS */

.Nav-Login {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.login-btn a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 12px;
}

.signup-btn a {
    display: flex;
    background: black;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    background: none;
    padding: .3rem;
    border-radius: .4rem;  
    font-weight: 300;
    font-size: 12px;
}

.signup-btn a:hover{
    display: flex;
    border: 1px solid #ffffff;
    color: white;
}


.Icon-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav-Icons {
    display: flex;
    width: auto;
    height: 20px ;
    gap: 1rem;
}

/* DROPDOWN MENU */

.Dropdown-1{
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    justify-content:flex-start;
    opacity: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
    transition: opacity 0.3s ease, transform 0.15s ease;
} 

.Dropdown-Items {
    display:grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 20em;
    height: 20em;
    border-radius: .4rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.chevron-down {
    display: inline-flex;
    position: absolute;
    background: none;
    transition: transform 0.40s;
    right: 374px;
    height: 16px;
    width: 16px;
}

.item1-BS, .item2-P2P, .item3-CC {
    display: inline-flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background: none;
    gap: .8rem;
    width: 18em;
}

.item1-BS img, .item2-P2P img , .item3-CC img {
    background: none;
    padding-left: 1rem;
    height: 24px;
    width: 24px;
} 

.item1-BS a,strong,li {
    background:none;
    color: black;
}

.item2-P2P a,strong,li {
    background:none;
    color: black;
}

.item3-CC a,strong,li {
    background:none;
    color: black;
}

.item1-BS p, .item2-P2P p, .item3-CC p{
    background: none;
    color: #696969;
    margin-top: .2rem; 
    font-size: 10px;
}

.item1-BS strong, .item2-P2P strong, .item3-CC strong {
    font-weight: 500 ;
    font-size: 12px;
}


.item1-BS:hover{
    background: rgb(244, 244, 244);
    border-radius: .2rem;
    cursor: pointer;
}

.item2-P2P:hover{
    background: rgb(244, 244, 244);
    border-radius: .2rem;
    cursor: pointer;
}

.item3-CC:hover{
    background: rgb(244, 244, 244);
    border-radius: .2rem;
    cursor: pointer;
}

.Link-1:hover .Dropdown-1{
    display: block;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    pointer-events: auto;
}

.Link-1:hover .chevron-down {
    transform: rotate(180deg);
}

/* DROPDOWN 2 */

.Dropdown-2{
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    justify-content:flex-start;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
    transition: opacity 0.3s ease, transform 0.15s ease;
}

.chevron-down2 {
    display: inline-flex;
    position:absolute;
    background: none;
    transition: transform .4s;
    left: 186px;
    height: 16px;
    width: 16px;
}

.Link-2:hover .Dropdown-2{
    display: block;
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.Link-2:hover .chevron-down2 {
    transform: rotate(180deg);
}


/* DROPDOWN 3 */

.Dropdown-3 {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    justify-content:flex-start;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
    transition: opacity 0.3s ease, transform 0.15s ease;
}

.chevron-down3 {
    display: inline-flex;
    position:absolute;
    background: none;
    transition: transform .4s;
    left: 244px;
    height: 16px;
    width: 16px;
}

.Link-3:hover .chevron-down3 {
    transform: rotate(180deg);
}

.Link-3:hover .Dropdown-3 {
    visibility: visible;
    pointer-events: auto;
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* DROPDOWN 4 */

.Dropdown-4 {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    justify-content: flex-start;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
    transition: opacity 0.3s ease, transform 0.15s ease;
}

.chevron-down4 {
    display: inline-flex;
    position:absolute;
    background: none;
    transition: transform .4s;
    left: 330px;
    height: 16px;
    width: 16px;
}

.Link-4:hover .chevron-down4 {
    transform: rotate(180deg);
}

.Link-4:hover .Dropdown-4 {
    visibility: visible;
    pointer-events: auto;
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* DROPDOWN 5 */

.Dropdown-5{
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    justify-content: flex-start;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
    transition: opacity 0.3s ease, transform 0.15s ease;
}

.chevron-down5 {
    display: inline-flex;
    position:absolute;
    background: none;
    transition: transform .4s;
    left: 390px;
    height: 16px;
    width: 16px;
}

.Link-5:hover .chevron-down5 {
    transform: rotate(180deg);
}

.Link-5:hover .Dropdown-5{
    visibility: visible;
    pointer-events: auto;
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* DROPDOWN-6 */

.Dropdown-6{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    justify-content: flex-start;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
    transition: opacity 0.3s ease, transform 0.15s ease;
}

.chevron-down6 {
    display: inline-flex;
    position:absolute;
    background: none;
    transition: transform .4s;
    left: 448px;
    height: 16px;
    width: 16px;
}

.Link-6:hover .chevron-down6 {
    transform: rotate(180deg);
}

.Link-6:hover .Dropdown-6{
    display: block;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
}


